* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Hind Vadodara', sans-serif;
    user-select: none;
}
body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-track {
    background: #5f0909;
}
body::-webkit-scrollbar-thumb {
    background-color: #e22a2a;
}
.main-container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #0c0922 0%, #5f0909 100%) center center /
        cover no-repeat;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.main-container .container-game {
    width: 100%;
    min-height: 100vh;
    display: none;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main-container .container-game.after {
    animation: animation-containers-after 500ms linear;
}
.main-container .container-game.after-exit {
    animation: animation-containers-after-exit 500ms linear;
}
.main-container .container-game.before {
    animation: animation-containers-before 500ms linear;
}
.main-container .container-game.before-exit {
    animation: animation-containers-before-exit 500ms linear;
}
.main-container .container-game-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}
.container-game-pause {
    transition: 200ms;
    position: absolute;
    top: 100px;
    left: 40px;
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    background-color: transparent;
    filter: hue-rotate(200deg);
    border: none;
    font-size: 40px;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px black;
    outline: none;
}
.container-game-pause:hover,
.container-game-pause:focus {
    transform: scale(1.1);
}
.container-game-pause div {
    transform: translateY(-2.8px);
}
.main-container .screen-flashlight {
    animation: animation-screen-flashlight 400ms linear;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.08);
    display: none;
}
@keyframes animation-screen-flashlight {
    0% {
        background-color: rgba(255, 255, 255, 0.08);
    }
    100% {
        background-color: transparent;
    }
}
.content-info {
    position: absolute;
    left: 40px;
    bottom: 40px;
}
.content-info .box:first-child {
    margin-bottom: 20px;
}
.content-info .box {
    width: 320px;
    border-radius: 5px;
    border: 2px solid #c3c3c3;
    background: #0d0e26;
    padding: 10px;
    box-shadow: 0 0 10px black;
}
.content-info .box .title {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}
.content-info .box .name {
    height: 25px;
    border: 2px solid #000;
    background: #d3d8ff;
    margin-bottom: 10px;
    padding-left: 4px;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 500;
}
.content-info .box .score {
    height: 25px;
    border: 2px solid #000;
    padding-right: 4px;
    background: #d3d8ff;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 700;
}
.content-info .box .title-big {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
}
.content-info .box .live {
    width: 300px;
    height: 60px;
    display: flex;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}
.content-info .box .live .live-part-red {
    transition: 200ms;
    width: 100px;
    height: 60px;
    background: #5a1111;
}
.content-info .box .live .live-part-red.hovered {
    background: #e22a2a;
}
.content-info .box .live .live-part-yellow {
    transition: 200ms;
    width: 100px;
    height: 60px;
    background: #5c5e0d;
}
.content-info .box .live .live-part-yellow.hovered {
    background: #e7eb21;
}
.content-info .box .live .live-part-green {
    transition: 200ms;
    width: 100px;
    height: 60px;
    background: #125714;
}
.content-info .box .live .live-part-green.hovered {
    background: #2cd933;
}
.content-info .box .live .pointer-live {
    transition: 200ms;
    width: 6px;
    height: 60px;
    background: white;
    box-shadow: 0 0 2px 1px black;
    position: absolute;
    transform: translateX(-6px);
    left: 100%;
}
.content-info .box .live .pointer-live.almost-failing {
    animation: animation-almost-failing 80ms infinite alternate linear;
}
@keyframes animation-almost-failing {
    0% {
        background: white;
    }
    100% {
        background: #e22a2a;
    }
}
.content-info-2 {
    position: absolute;
    right: 40px;
    bottom: 40px;
}
.content-info-2 .box {
    width: 320px;
    height: 160px;
    border-radius: 5px;
    border: 2px solid #c3c3c3;
    background: #0d0e26;
    padding: 10px;
    box-shadow: 0 0 10px black;
    position: relative;
}
.content-info-2 .box .title {
    color: #fff;
    font-size: 32px;
    font-weight: 400;
    position: absolute;
    top: 10px;
    left: 10px;
}
.content-info-2 .box .notes-count {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    top: 10px;
    right: 10px;
}
.content-info-2 .box .multiplicator-x {
    color: #fff;
    font-size: 48px;
    font-weight: 400;
    position: absolute;
    top: 54px;
    right: 75px;
}
.content-info-2 .box .multiplicator-n {
    color: #fff;
    font-size: 70px;
    font-weight: 400;
    position: absolute;
    top: 36px;
    right: 32px;
}
.content-info-2 .box .bars {
    position: absolute;
    left: 15px;
    bottom: 30px;
    display: flex;
    align-items: flex-end;
    gap: 5px;
}
.content-info-2 .box .bars .bar {
    transition: 200ms;
}
.content-info-2 .box .bars .bar:nth-child(1) {
    width: 12px;
    height: 20px;
    background: #d3d8ff;
}
.content-info-2 .box .bars .bar:nth-child(2) {
    width: 12px;
    height: 25px;
    background: #d3d8ff;
}
.content-info-2 .box .bars .bar:nth-child(3) {
    width: 12px;
    height: 30px;
    background: #d3d8ff;
}
.content-info-2 .box .bars .bar:nth-child(4) {
    width: 12px;
    height: 35px;
    background: #d3d8ff;
}
.content-info-2 .box .bars .bar:nth-child(5) {
    width: 12px;
    height: 40px;
    background: #d3d8ff;
}
.content-info-2 .box .bars .bar:nth-child(6) {
    width: 12px;
    height: 45px;
    background: #d3d8ff;
}
.content-info-2 .box .bars .bar:nth-child(7) {
    width: 12px;
    height: 50px;
    background: #d3d8ff;
}
.content-info-2 .box .bars .bar:nth-child(8) {
    width: 12px;
    height: 55px;
    background: #d3d8ff;
}
.content-info-2 .box .bars .bar:nth-child(9) {
    width: 12px;
    height: 60px;
    background: #d3d8ff;
}
.content-info-2 .box .bars .bar:nth-child(10) {
    width: 12px;
    height: 65px;
    background: #d3d8ff;
}
.content-info-2 .box .bars .bar.form-1 {
    background-color: #5c43f8;
}
.content-info-2 .box .bars .bar.form-2 {
    background-color: #11c718;
}
.content-info-2 .box .bars .bar.form-3 {
    background-color: #d4e22a;
}
.content-info-2 .box .bars .bar.form-4 {
    background-color: #e22a2a;
}
.main-container .container {
    width: 570px;
    height: 100vh;
    border: 5px solid #000;
    background-color: rgba(0, 0, 0, 0.85);
    box-shadow: 0 0 10px black;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.main-container .container .trails {
    width: 460px;
    height: 70px;
    display: flex;
    gap: 20px;
    margin-bottom: 90px;
}
.main-container .container .trails .trail-1,
.main-container .container .trails .trail-2,
.main-container .container .trails .trail-3,
.main-container .container .trails .trail-4 {
    width: 100px;
    height: 140px;
    display: flex;
    align-items: flex-end;
}
.main-container .container .trails .trail-1 .trail-children-1 {
    transition: 100ms;
    width: 100px;
    height: 70px;
    border-radius: 5px;
    border: 2px solid #000;
    background: #125714;
}
.main-container .container .trails .trail-1 .trail-children-1.pressed {
    border: 5px solid #000;
    background: #2cd933;
}
.main-container .container .trails .trail-2 .trail-children-2 {
    transition: 100ms;
    width: 100px;
    height: 70px;
    border-radius: 5px;
    border: 2px solid #000;
    background: #5a1111;
}
.main-container .container .trails .trail-2 .trail-children-2.pressed {
    border: 5px solid #000;
    background: #e22a2a;
}
.main-container .container .trails .trail-3 .trail-children-3 {
    transition: 100ms;
    width: 100px;
    height: 70px;
    border-radius: 5px;
    border: 2px solid #000;
    background: #555a11;
}
.main-container .container .trails .trail-3 .trail-children-3.pressed {
    border: 5px solid #000;
    background: #d4e22a;
}
.main-container .container .trails .trail-4 .trail-children-4 {
    transition: 100ms;
    width: 100px;
    height: 70px;
    border-radius: 5px;
    border: 2px solid #000;
    background: #1b115a;
}
.main-container .container .trails .trail-4 .trail-children-4.pressed {
    border: 5px solid #000;
    background: #442ae2;
}
.main-container .container .trails .trail-1 .trail-children-1.hit {
    animation: animation-hit-1 150ms;
}
.main-container .container .trails .trail-2 .trail-children-2.hit {
    animation: animation-hit-2 150ms;
}
.main-container .container .trails .trail-3 .trail-children-3.hit {
    animation: animation-hit-3 150ms;
}
.main-container .container .trails .trail-4 .trail-children-4.hit {
    animation: animation-hit-4 150ms;
}
@keyframes animation-hit-1 {
    0% {
    }
    100% {
        box-shadow: 0 0 5px white, 0 0 10px #125714, 0 0 15px #16991a,
            0 0 20px #2cd933, 0 0 30px #24f82c;
    }
}
@keyframes animation-hit-2 {
    0% {
    }
    100% {
        box-shadow: 0 0 5px white, 0 0 10px #5a1111, 0 0 15px #7e1111,
            0 0 20px #e22a2a, 0 0 30px #fd2121;
    }
}
@keyframes animation-hit-3 {
    0% {
    }
    100% {
        box-shadow: 0 0 5px white, 0 0 10px #555a11, 0 0 15px #7a8111,
            0 0 20px #d4e22a, 0 0 30px #e5f720;
    }
}
@keyframes animation-hit-4 {
    0% {
    }
    100% {
        box-shadow: 0 0 5px white, 0 0 10px #1b115a, 0 0 15px #201180,
            0 0 20px #442ae2, 0 0 30px #3c1ff7;
    }
}
.main-container .container .target {
    position: absolute;
    width: 100px;
    height: 70px;
    border-radius: 5px;
    border: 2px solid #000;
    top: -70px;
}
.main-container .container .target.target-1 {
    background: #4be951;
    left: 50px;
}
.main-container .container .target.target-2 {
    background: #f54141;
    left: 170px;
}
.main-container .container .target.target-3 {
    background: #e6f445;
    left: 290px;
}
.main-container .container .target.target-4 {
    background: #5c43f8;
    left: 410px;
}
.main-container .counter-to-start {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 54px;
    display: none;
}
.main-container .container-home {
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
}
.main-container .container-home.after {
    animation: animation-containers-after 500ms linear;
}
.main-container .container-home.after-exit {
    animation: animation-containers-after-exit 500ms linear;
}
.main-container .container-home.before {
    animation: animation-containers-before 500ms linear;
}
.main-container .container-home.before-exit {
    animation: animation-containers-before-exit 500ms linear;
}

@keyframes animation-containers-before {
    0% {
        transform: translateX(100%);
    }
    20% {
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}
@keyframes animation-containers-before-exit {
    0% {
        transform: translateX(0%);
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}
@keyframes animation-containers-after {
    0% {
        transform: translateX(-100%);
    }
    20% {
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}
@keyframes animation-containers-after-exit {
    0% {
        transform: translateX(0%);
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}
.container-home .container-home-touch {
    animation: animation-container-home-touch 1s steps(10) alternate infinite;
    position: absolute;
    bottom: 20%;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
}
@keyframes animation-container-home-touch {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.main-container .container-home .logo {
    transition: 200ms;
    display: flex;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 5px;
}
.main-container .container-home .logo:hover,
.main-container .container-home .logo:focus {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.main-container .container-home .logo.playing {
    animation: animation-logo-playing 800ms infinite alternate
        cubic-bezier(0.08, 0.82, 0.85, 0.26);
}
@keyframes animation-logo-playing {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}
.main-container .container-home .logo img {
    pointer-events: none;
    width: 100%;
}
.main-container .container-select {
    width: 100%;
    min-height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
}
.main-container .container-select.after {
    animation: animation-containers-after 500ms linear;
}
.main-container .container-select.after-exit {
    animation: animation-containers-after-exit 500ms linear;
}
.main-container .container-select.before {
    animation: animation-containers-before 500ms linear;
}
.main-container .container-select.before-exit {
    animation: animation-containers-before-exit 500ms linear;
}
.container-select .btn-back-select {
    transition: 200ms;
    position: absolute;
    top: 20px;
    left: 20px;
    border: 2px solid #fff;
    padding: 5px 12px;
    border-radius: 5px;
    outline: none;
    background-color: transparent;
    color: white;
    font-size: 24px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.container-select .btn-back-select:hover,
.container-select .btn-back-select:focus {
    box-shadow: 0 0 10px rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.2);
}
.container-select .content-select {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.container-select .content-select .btn-select-play {
    transition: 200ms;
    width: 200px;
    height: 60px;
    background: #e7eb21;
    color: #000;
    font-size: 36px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
}
.container-select .content-select .btn-select-play:hover,
.container-select .content-select .btn-select-play:focus {
    transform: scale(1.1);
}
.container-select .content-select .btn-select-options {
    transition: 200ms;
    width: 200px;
    height: 60px;
    background: #e22a2a;
    color: #000;
    font-size: 36px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
}
.container-select .content-select .btn-select-options:hover,
.container-select .content-select .btn-select-options:focus {
    transform: scale(1.1);
}
.content-level {
    animation: animation-content-level 500ms linear;
    position: absolute;
    top: 60px;
    width: 300px;
    display: none;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-direction: column;
    padding: 10px 10px 5px 10px;
    background-color: #0d0e26;
    border: 2px solid #c3c3c3;
    border-radius: 5px;
    color: white;
}
.content-level.exit {
    animation: animation-content-level-exit 500ms linear;
}
@keyframes animation-content-level-exit {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}
@keyframes animation-content-level {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
.content-level .level-bar {
    position: relative;
    width: 100%;
    height: 40px;
    background-color: #e22a2a33;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-level .level-bar .level-bar-fill {
    transition: 2s;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: #e22a2a;
    border-radius: 5px;
}
.content-level .level-bar .level-bar-progress {
    font-size: 20px;
    z-index: 1;
}
.content-level .level-actual {
    text-transform: uppercase;
    font-size: 20px;
}
.main-container .container-songs {
    width: 100%;
    display: none;
}
.main-container .container-songs.after {
    animation: animation-containers-after 500ms linear;
}
.main-container .container-songs.after-exit {
    animation: animation-containers-after-exit 500ms linear;
}
.main-container .container-songs.before {
    animation: animation-containers-before 500ms linear;
}
.main-container .container-songs.before-exit {
    animation: animation-containers-before-exit 500ms linear;
}
.container-songs .btn-back-songs {
    transition: 200ms;
    position: absolute;
    top: 20px;
    left: 20px;
    border: 2px solid #fff;
    padding: 5px 12px;
    border-radius: 5px;
    outline: none;
    background-color: transparent;
    color: white;
    font-size: 24px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.container-songs .btn-back-songs:hover,
.container-songs .btn-back-songs:focus {
    box-shadow: 0 0 10px rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.2);
}
.main-container .container-songs .content-songs .select-song {
    color: #fff;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 65px;
    margin-top: 60px;
    margin-bottom: 40px;
}
.main-container .container-songs .content-songs .select-song-search {
    transition: 200ms;
    max-width: 400px;
    width: calc(100% - 40px);
    margin-left: 65px;
    margin-bottom: 20px;
    background-color: #0d0e26;
    border: 2px solid #c3c3c3;
    outline: none;
    color: #fff;
    font-size: 26px;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 5px;
}
.main-container
    .container-songs
    .content-songs
    .select-song-search::placeholder {
    color: #ffffff99;
    font-size: 26px;
    font-weight: 700;
}
.main-container .container-songs .content-songs .select-song-search:focus {
    box-shadow: 0 0 10px white;
}
.main-container .container-songs .content-songs .select-song-search:hover {
    box-shadow: 0 0 10px white;
}
.song-not-found {
    animation: animation-song-not-found 500ms linear;
    display: none;
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}
@keyframes animation-song-not-found {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
.main-container .container-songs .content-songs .song {
    transition: 200ms;
    margin: 0 auto;
    width: calc(100% - 130px);
    background-color: #1b115a;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    filter: brightness(0.6);
}
.main-container .container-songs .content-songs .song.selected {
    filter: brightness(1);
}
.main-container .container-songs .content-songs .song:hover {
    filter: brightness(1);
}
.main-container .container-songs .content-songs .song .preview {
    transition: 200ms;
    width: 100px;
    height: 120px;
    background: #d9d9d966;
    cursor: pointer;
}
.main-container .container-songs .content-songs .song .preview:hover {
    box-shadow: 0 0 5px white inset, 0 0 40px white inset;
}

.main-container .container-songs .content-songs .song .division {
    display: flex;
    flex-direction: column;
    width: calc(100% - 250px);
    padding-left: 40px;
    padding-top: 10px;
    overflow: hidden;
}
.main-container .container-songs .content-songs .song .division .title {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-shadow: 0 0 5px black;
}
.main-container
    .container-songs
    .content-songs
    .song
    .division
    .content-difficulty {
    transition: 200ms;
    display: flex;
    gap: 10px;
    transform: translateY(50px);
}
.main-container
    .container-songs
    .content-songs
    .song:hover
    .division
    .content-difficulty {
    transform: translateY(0px);
}
.main-container
    .container-songs
    .content-songs
    .song
    .division
    .content-difficulty
    .difficulty-easy {
    transition: 200ms;
    width: 120px;
    height: 40px;
    background: #424548;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.main-container
    .container-songs
    .content-songs
    .song
    .division
    .content-difficulty
    .difficulty-easy.selected {
    background: #d3d8ff;
}
.main-container
    .container-songs
    .content-songs
    .song
    .division
    .content-difficulty
    .difficulty-medium {
    transition: 200ms;
    width: 120px;
    height: 40px;
    background: #064007;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.main-container
    .container-songs
    .content-songs
    .song
    .division
    .content-difficulty
    .difficulty-medium.selected {
    background: #11c718;
}
.main-container
    .container-songs
    .content-songs
    .song
    .division
    .content-difficulty
    .difficulty-hard {
    transition: 200ms;
    width: 120px;
    height: 40px;
    background: #474a0a;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.main-container
    .container-songs
    .content-songs
    .song
    .division
    .content-difficulty
    .difficulty-hard.selected {
    background: #e7eb21;
}
.main-container
    .container-songs
    .content-songs
    .song
    .division
    .content-difficulty
    .difficulty-expert {
    transition: 200ms;
    width: 120px;
    height: 40px;
    background: #2b1414;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.main-container
    .container-songs
    .content-songs
    .song
    .division
    .content-difficulty
    .difficulty-expert.selected {
    background: #e22a2a;
}
.main-container .container-songs .content-songs .song .song-play {
    transition: 200ms;
    width: 150px;
    height: 120px;
    background: #e22a2a66;
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    outline: none;
    font-family: inherit;
}
.main-container .container-songs .content-songs .song .song-play:hover {
    box-shadow: 0 0 5px #e22a2a inset, 0 0 40px #e22a2a inset;
}
.main-container .container-songs .content-songs .song .song-play:focus {
    box-shadow: 0 0 5px #e22a2a inset, 0 0 40px #e22a2a inset;
}
.container-config {
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    display: none;
}
.container-config.after {
    animation: animation-containers-after 500ms linear;
}
.container-config.after-exit {
    animation: animation-containers-after-exit 500ms linear;
}
.container-config.before {
    animation: animation-containers-before 500ms linear;
}
.container-config.before-exit {
    animation: animation-containers-before-exit 500ms linear;
}
.container-config .btn-back-config {
    transition: 200ms;
    position: absolute;
    top: 20px;
    left: 20px;
    border: 2px solid #fff;
    padding: 5px 12px;
    border-radius: 5px;
    outline: none;
    background-color: transparent;
    color: white;
    font-size: 24px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.container-config .btn-back-config:hover,
.container-config .btn-back-config:focus {
    box-shadow: 0 0 10px rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.2);
}
.container-config .content-config {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    padding: 60px 0;
}
.content-config .song-volume {
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
}
.content-config .song-volume .title {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
}
.content-config .song-volume .volume[type='range'] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: transparent;
    background-image: linear-gradient(90deg, #e22a2a, #e22a2a 80%, #e22a2a33 0);
}
.content-config
    .song-volume
    .volume[type='range']::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
}
.content-config .song-volume .volume[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #f54141;
    border-radius: 50%;
    border: 2px solid #f54141;
    cursor: pointer;
    margin-top: -8px;
}

.main-container .container-failed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
}
.main-container .container-failed .box {
    width: 400px;
    height: 292px;
    border-radius: 10px;
    border: 2px solid #c3c3c3;
    background: linear-gradient(180deg, #0c0922 25.03%, #5f0909 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.main-container .container-failed .box .title {
    color: #fff;
    font-size: 48px;
    font-weight: 400;
    margin-top: 20px;
}
.main-container .container-failed .box .retry {
    transition: 200ms;
    width: 200px;
    height: 60px;
    background: #e7eb21;
    color: #000;
    font-size: 36px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
}
.main-container .container-failed .box .retry:hover,
.main-container .container-failed .box .retry:focus {
    transform: scale(1.1);
}
.main-container .container-failed .box .exit {
    transition: 200ms;
    width: 200px;
    height: 60px;
    background: #e22a2a;
    color: #000;
    font-size: 36px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
}
.main-container .container-failed .box .exit:hover,
.main-container .container-failed .box .exit:focus {
    transform: scale(1.1);
}
.main-container .container-song-completed {
    width: calc(100% - 130px);
    width: 100%;
    margin: 0 auto;
    padding: 90px 65px 0;
    position: relative;
    display: none;

    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main-container .container-song-completed .title {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 40px;
    text-shadow: 0 0 5px black;
}
.main-container .container-song-completed .points {
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
    text-shadow: 0 0 5px black;
}
.main-container .container-song-completed .difficulty {
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
    text-shadow: 0 0 5px black;
}
.main-container .container-song-completed .perfect {
    color: #e7eb21;
    font-size: 48px;
    font-weight: 700;
    margin-top: 10px;
    text-shadow: 0 0 5px black;
    display: none;
}
.main-container .container-song-completed .accuracy {
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    text-shadow: 0 0 5px black;
}
.main-container .container-song-completed .retry {
    transition: 200ms;
    position: absolute;
    bottom: 60px;
    right: 305px;
    width: 200px;
    height: 60px;
    background: #e7eb21;
    color: #000;
    font-size: 36px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
}
.main-container .container-song-completed .retry:hover,
.main-container .container-song-completed .retry:focus {
    transform: scale(1.1);
}
.main-container .container-song-completed .exit {
    transition: 200ms;
    position: absolute;
    bottom: 60px;
    right: 65px;
    width: 200px;
    height: 60px;
    background: #e22a2a;
    color: #000;
    font-size: 36px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
}
.main-container .container-song-completed .exit:hover,
.main-container .container-song-completed .exit:focus {
    transform: scale(1.1);
}
.main-container .container-paused {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 54px;
    flex-direction: column;
}
.container-paused .box {
    width: 400px;
    height: 372px;
    border-radius: 10px;
    border: 2px solid #c3c3c3;
    background: linear-gradient(180deg, #0c0922 25.03%, #5f0909 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.container-paused-title {
    color: #fff;
    font-size: 48px;
    font-weight: 400;
    margin-top: 20px;
}
.container-paused-option-resume {
    transition: 200ms;
    width: 200px;
    height: 60px;
    background: #11c718;
    color: #000;
    font-size: 36px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
}
.container-paused-option-resume:hover,
.container-paused-option-resume:focus {
    transform: scale(1.1);
}
.container-paused-option-retry {
    transition: 200ms;
    width: 200px;
    height: 60px;
    background: #e7eb21;
    color: #000;
    font-size: 36px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
}
.container-paused-option-retry:hover,
.container-paused-option-retry:focus {
    transform: scale(1.1);
}
.container-paused-option-exit {
    transition: 200ms;
    width: 200px;
    height: 60px;
    background: #e22a2a;
    color: #000;
    font-size: 36px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
}
.container-paused-option-exit:hover,
.container-paused-option-exit:focus {
    transform: scale(1.1);
}
.consecutive-hits {
    animation: animation-consecutive-hits-color 200ms infinite alternate linear,
        animation-consecutive-hits-enter 1s linear;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 54px;
    flex-direction: column;
}
.consecutive-hits.fade {
    animation: animation-consecutive-hits-exit 1s linear;
}
@keyframes animation-consecutive-hits-enter {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}
@keyframes animation-consecutive-hits-exit {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-100%);
    }
}
@keyframes animation-consecutive-hits-color {
    0% {
        color: white;
    }
    50% {
        color: #24f82c;
    }
    100% {
        color: #e22a2a;
    }
}
.progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-image: linear-gradient(
        90deg,
        #fff 0%,
        #fff 0%,
        #ffffff33 0%,
        #ffffff33 100%
    );
}
.song-preview-details {
    animation: animation-song-preview-details-enter 1s linear;
    position: fixed;
    top: 0;
    right: 10px;
    width: 100%;
    max-width: 50vw;
    background-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0.6) 60%,
        rgba(0, 0, 0, 0) 100%
    );
    color: white;
    display: none;
    padding: 20px;
    justify-content: center;
    flex-direction: column;
    border-bottom: 5px solid #fff;
}
.song-preview-details.fade {
    animation: animation-song-preview-details-exit 1s linear;
}
.song-preview-details.exit {
    animation: animation-song-preview-details-exit 1s linear;
}
@keyframes animation-song-preview-details-enter {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}
@keyframes animation-song-preview-details-exit {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-100%);
    }
}
.song-preview-details-title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}
.song-preview-details-title-song {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.song-preview-details-difficulty {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.song-preview-details-duration {
    font-size: 20px;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.song-preview-details.hide .song-preview-details-title,
.song-preview-details.hide .song-preview-details-title-song,
.song-preview-details.hide .song-preview-details-difficulty,
.song-preview-details.hide .song-preview-details-duration,
.song-preview-details.hide .song-preview-details-play-btn,
.song-preview-details.hide .song-preview-details-stop-btn {
    display: none;
}
.song-preview-details.hide {
    animation: animation-song-preview-details-hide 1s linear;
    transition: 200ms linear;
    width: 60px;
    height: 60px;
    top: 10px;
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;
}
@keyframes animation-song-preview-details-hide {
    0% {
        width: 100%;
        height: 247px;
    }
    100% {
        width: 60px;
        height: 60px;
    }
}
.song-preview-details-play-btn {
    position: absolute;
    top: 10px;
    right: 108px;
    width: 80px;
    height: 52px;
    background: white;
    color: black;
    font-size: 24px;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid black;
}
.song-preview-details-stop-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 80px;
    height: 52px;
    background: transparent;
    color: white;
    font-size: 24px;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid #fff;
}
